{% extends 'main/base.html' %}
<!-- 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 -->
{% block js %}
<script>
    function eliminarEvento(id) {
        Swal.fire({
            "title":"¿Estás Seguro de Eliminar este registro?",
            "text":"Esta acción no se puede deshacer",
            "icon":"warning",
            "showCancelButton":true,
            "cancelButtonText":"Cancelar",
            "confirmButtonText":"Eliminar",
            "reverseButtons":true,
            "confirmBottonColor":"darkred"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href="/evento_eliminado/"+id+"/"
            }
        })
    }
</script>


{% endblock %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-9 offset-md-3">
            <h1 class="text-center display-4 py-3">Eventos Pendientes</h1>
            <div class="card">
                <div class="card-body">

                    <table id="example" class="table table-hover table-responsive-sm">
                        <tr class="table-warning">
                            <th>Nombre del evento</th>
                            <th>Detalles del evento</th>
                            <th>Fecha del evento</th>
                            <th>Culminado</th>
                            <th>Creado</th>
                            <th>Opciones</th>
                        </tr>
                                
                        {% for evento in eventos %}

                        <tr>
                            <td>{{evento.titulo}}</td>
                            <td>{{evento.contenido}}</td>
                            <td>{{evento.fecha_evento}}</td>
                            <td>
                                {% if evento.fecha_completado %}
                                Completado 
                                    {% else %}
                                    No se ha completado 
                                    {% endif %}
                            </td>
                            <td>{{evento.user}}</td>
                            <td>
                                <a href="{% url 'evento_detail' evento.id %}" class="btn btn-primary btn-sm">Modificar</a>
                                <a href="#" onclick="eliminarEvento({{evento.id}})" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>

                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>



<!-- <div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center display-4 py-5">Eventos</h1>
        <ul class="list-group">
            {% for evento in eventos %}

            <a class="list-group-item" href="{% url 'evento_detail' evento.id %}">
                <header class="d-flex justify-content-between">
                    <h2><b>{{evento.titulo}}</b></h2>
                    <p>{{evento.user}}</p>
                    <p>{{evento.contenido}}</p>
                    <p>{{evento.fecha_evento}}</p>
                </header>
                    
                    <p>{{evento.fecha_culminado|date:'M j Y:i'}}</p>
        
            </a>
        
            {% endfor %}
        </ul>
    </div>
</div> -->

{% endblock %}