{% extends 'main/base.html' %}
{% block js %}
<script>
    function eliminarEvento(id) {
        Swal.fire({
            "title":"¿Estás Seguro de Eliminar este registro?",
            "text":"Esta acción no se puede deshacer",
            "icon":"warning",
            "showCancelButton":true,
            "cancelButtonText":"Cancelar",
            "confirmButtonText":"Eliminar",
            "reverseButtons":true,
            "confirmBottonColor":"darkred"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href="/evento_eliminado/"+id+"/"
            }
        })
    }
</script>


{% endblock %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-9 offset-md-3">
            <h1 class="text-center display-4 py-3">Eventos Culminados</h1>
            <div class="card">
                <div class="card-body">

                    <table class="table table-hover table-responsive-sm">
                        <tr class="table-warning">
                            <th>Nombre del evento</th>
                            <th>Detalles del evento</th>
                            <th>Fecha del evento</th>
                            <th>Culminado</th>
                            <th>Creado</th>
                            <th>Opciones</th>

                        </tr>

                        {% for evento in eventos %}

                        <tr>
                            <td>{{evento.titulo}}</td>
                            <td>{{evento.contenido}}</td>
                            <td>{{evento.fecha_evento}}</td>
                            <td>{{evento.fecha_culminado}}</td>
                            <td>{{evento.user}}</td>
                            <td>

                                <a href="#" onclick="eliminarEvento({{evento.id}})" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>    


{% endblock %}