{% extends 'main/base.html' %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-4 py-5">Eventos Pendientes</h1>
            <ul class="list-group">
                {% for evento in eventos %}

                <a class="list-group-item" href="{% url 'evento_detail' evento.id %}">
                    <header class="d-flex justify-content-between">
                        <h1 >{{evento.titulo}}</h1>
                        <p>{{evento.user}}</p>
                        <p>{{evento.contenido}}</p>
                        <p>{{evento.fecha_evento}}</p>
                    </header>
                        
                        <p>{{evento.fecha_culminado|date:'M j Y:i'}}</p>
            
                </a>
            
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}