{% extends 'main/base.html' %}

{% block content %}
 <!-- page content -->
 <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-4 col-sm-4 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Sobre el Evento</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">

              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                                        <a>¿Cual es su Enfoque?</a>
                                    </h2>
                      <p class="excerpt">Este año, la segunda edición del Congreso Mundial de El Sistema está enfocada en la conmemoración del legado del Maestro José Antonio Abreu Anselmi, como un encuentro e intercambio de saberes y experiencias académicas, que se proyecta como un tiempo para interpretar las diversas perspectivas y herramientas coadyuvantes en el desarrollo de los modelos formativos inspirados en El Sistema, a partir de una visión global del arte musical y su impacto en el quehacer social, como ideario primordial de nuestro director fundador.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                                        <a>Temas Centrales</a>
                                    </h2>
                      <p class="excerpt">Los cinco temas centrales que representarán, en esta ocasión, el intercambio y las acciones para alcanzar la consolidación de la red mundial de modelos inspirados en El Sistema y establecer su propia interrelación serán: Académico, Social, Investigación, Artístico y Organizacional.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                                        <a>Motivación</a>
                      </h2>
                      <p class="excerpt">El Sistema Nacional de Orquestas y Coros Juveniles e Infantiles de Venezuela es una estructura en perpetua dinámica de transformación y adaptación a las circunstancias cambiantes del mundo. Esta premisa nos motiva a mantener canales que permitan que la música sea patrimonio de la cotidianidad de cada individuo y esperanza misma del universo.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->
{% endblock %}

