{% extends 'main/base.html' %}

{% block content %}

    <h1 class="text-center">Datos del Participante</h1>
    <h2>{{participante.nombres}} {{participante.apellidos}}</h2>

    {{error}}
    
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                Modificar Datos
            </button>    
        </div>
        

    </form>

    <form action="{% url 'participante_eliminado' participante.id %}" method="post">  
        {% csrf_token %}

        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                Eliminar Participante
            </button>
        </div>

    </form>
    
{% endblock %}