{% extends 'main/base.html' %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-4 py-5">Lista de participantes</h1>
            <ul class="list-group">
                {% for participante in lparticipantes %}

                <a class="list-group-item" href="{% url 'form_detail' participante.id %}">
                    <header class="d-flex justify-content-between">
                        <p >{{participante.nombres}}</p>
                        <p>{{participante.apellidos}}</p>
                        <p>{{participante.evento}}</p>
            
                    </header>
                        
                      
            
                </a>
            
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}